<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LP_2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <LP_2.Properties.Settings>
            <setting name="TomitaExe" serializeAs="String">
                <value>tomitaparser.exe</value>
            </setting>
            <setting name="FileGrammName" serializeAs="String">
                <value>first.cxx</value>
            </setting>
            <setting name="FileFactName" serializeAs="String">
                <value>fact_types.proto</value>
            </setting>
            <setting name="FileConfigName" serializeAs="String">
                <value>config.proto</value>
            </setting>
            <setting name="FileDictionaryName" serializeAs="String">
                <value>dic.gzt</value>
            </setting>
        </LP_2.Properties.Settings>
    </userSettings>
</configuration>